<!DOCTYPE html>
<html>
<head>
    <title>Honeypot SOC Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
<div class="container">
    <h1>🛡️ Honeypot SOC Dashboard</h1>
    <p class="live">● LIVE monitoring</p>

    <div class="stats">
        <div class="stat">
            <h3>Total Login Attempts</h3>
            <p id="totalAttempts">0</p>
        </div>
        <div class="stat">
            <h3>Unique IPs</h3>
            <p id="uniqueIPs">0</p>
        </div>
        <div class="stat">
            <h3>Top Attack Country</h3>
            <p id="topCountry">N/A</p>
        </div>
        <div class="stat">
            <h3>Last Attack</h3>
            <p id="latestTimestamp">N/A</p>
        </div>
    </div>
    <table>
        <thead>
            <h2>Login Attempts</h2>
            <tr>
                <th>IP</th>
                <th>Username</th>
                <th>Password</th>
                <th>Time</th>
                <th>Country</th>
                <th>City</th>
            </tr>
        </thead>

        <tbody id="logs"></tbody>
    </table>
    <table>
        <thead>
            <h2>Brute-force Attempts</h2>
            <tr>
                <th>IP</th>
                <th>Attempts</th>
            </tr>
        </thead>

        <tbody id="bruteforce"></tbody>
    </table>
    <h2>Attack Map</h2>
    <div id="map" style="height: 400px;"></div>
    <div class="table-wrap">
        <h2>Top 10 Passwords</h2>
        <canvas id="topPasswords"></canvas>
    </div>
    <div class="table-wrap">
        <h2>Top 10 Countries</h2>
        <canvas id="topCountries"></canvas>
    </div>
</div>
</body>
</html>